{{ "<!-- Google Map -->" | safeHTML }}
{{ if .Site.Params.gmap.enable }}
<section class="map">
  <div marker="{{ .Site.Params.gmap.map_marker | relURL }}" data-marker-name="{{ .Site.Title }}">
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d745.3152749214223!2d-0.8837821528587955!3d41.65010037895135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5914e8e1f4d74b%3A0x2baa075e3cb53945!2zNDHCsDM5JzAwLjQiTiAwwrA1Mic1OS45Ilc!5e0!3m2!1ses!2ses!4v1589478988088!5m2!1ses!2ses" width="100%" height="500vh" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
  </iframe>
</section>
{{ end }}
{{ "<!-- /google map -->" | safeHTML }}
  
